:root {
    --font-family: "Montserrat", sans-serif;
    --primary-gradient: linear-gradient(145deg, #FF6A00 0%, #E0111C 100%);
    --blue-gradient: linear-gradient(145deg, #8B1FFF 0%, #00EEFF 100%);
    --green-yellow-gradient: linear-gradient(145deg, #00B100 0%, #FDDC32 100%);
    --brown-gradient: linear-gradient(145deg, #CC5500 0%, #FFB347 100%);
    --grey-gradient: linear-gradient(145deg, #0B1A19 0%, #AEC2D1 100%);
    --orange-color: #FF6A00;
    --orange-clear: rgba(255, 106, 0, 0.75);
    --red-color: #E0111C;
    --red-clear: rgba(224, 17, 28, 0.75);
    --brown-color: #CC5500;
    --light-brown-color: #FFB347;
    --violet-color: #8B1FFF;
    --mint-color: #00EEFF;
    --green-color: #00B100;
    --green-clear: rgba(0, 177, 0, 0.75);
    --yellow-color: #FDDC32;
    --yellow-clear: rgba(253, 220, 50, 0.75);
    --mint-clear: rgba(0, 238, 255, 0.75);
    --dark-color: #02050C;
    --dark-green-color: #0B1A19;
    --grey-color: #AEC2D1;
    --grey-clear: rgba(174, 194, 209, 0.75);
    --light-color: #FFFFFF;
    --transition-duration: .3s;
}

html {
    scroll-behavior: smooth;
    cursor: url('/img/rocket-cursor.png') 1 1, pointer;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: var(--font-family);
    color: var(--light-color);
}

img {
    max-width: 100%;
    will-change: transform;
}

a {
    color: var(--color-secondary);
    text-decoration: none;
}

/* ------------------------------------------------
------------------- Animation ---------------------
------------------------------------------------ */

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInUp,
.fadeInDown {
    visibility: hidden;
    backface-visibility: hidden;
    will-change: transform, opacity;
    opacity: 0;
}

.fadeInUp.animated {
    visibility: visible;
    animation: fadeInUp 0.5s ease-out forwards;
}

.fadeInDown.animated {
    visibility: visible;
    animation: fadeInDown 0.5s ease-out forwards;
}


/* Container */

.container {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: top;
    height: 185vh;
}

.content {
    width: 100%;
    max-width: 80vw;
    height: 100vh;
    margin: 0 auto;
}

/* Logo */

/* Title and text */

.h1-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
    font-size: 64px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.h2-title {
    font-size: 56px;
    font-weight: 700;
    text-transform: uppercase;
}

.h3-title {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
}

.h4-title {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    background: var(--primary-gradient);
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
}

.h5-title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.h6-title {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.text {
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-color);
}

/* Buttons */

.btn {
    display: flex;
    font-family: var(--font-family);
    font-size: 18px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    color: var(--light-color);
    background: var(--primary-gradient);
    border: none;
    border-radius: 100px;
    box-shadow: 0 0 18px var(--orange-clear);
    transition: all var(--transition-duration) ease-in-out;
    cursor: pointer;
    outline: none;
    line-height: normal;
    position: relative;
    padding: 20px 40px;
}

.btn::before {
    content: '';
    border-radius: 100px;
    min-width: calc(100% + 12px);
    min-height: calc(100% + 12px);
    border: 6px solid var(--orange-color);
    box-shadow: 0 0 18px var(--orange-clear);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all var(--transition-duration) ease-in-out;
    box-sizing: content-box;
}

.btn:hover {
    letter-spacing: 1.5px;
}

.btn:hover::before,
.btn:focus::before {
    opacity: 1;
}

/* Lists */

.list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    counter-reset: list-counter;
    list-style: none;
}

.list__item {
    max-width: 30vw;
    background-color: var(--light-color);
    border-radius: 0 10px 10px 10px;
    color: var(--dark-color);
    min-height: 48px;
    margin-top: 16px;
    margin-left: 16px;
    padding: 14px 14px 14px 48px;
    counter-increment: list-counter;
    position: relative;
}

.list__item::after,
.list__item::before {
    content: '';
    display: block;
    background: var(--primary-gradient);
    border-radius: 16px 16px 0 16px;
    height: 48px;
    width: 48px;
    position: absolute;
    top: -16px;
    left: -16px;
}

.list__item::before {
    content: counter(list-counter);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: var(--dark-color);
    background: none;
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 700;
    padding: 2px 4px;
    z-index: 1;
}

/* Comments */

.comment__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.comment {
    width: 200px;
    max-height: 0;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--light-color);
    border: 1px solid var(--light-color);
    padding: 14px;
    border-radius: 16px 16px 16px 0;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
    transition: all var(--transition-duration) ease-in-out;
}

.comment__wrap:hover .comment,
.comment__wrap:focus .comment,
.comment__wrap.show .comment {
    max-height: 300px;
    opacity: 1;
}

.comment__img {
    padding: 20px;
}

/* ------------------------------------------------
------------------- Colors ------------------------
------------------------------------------------ */

.primary-g-bg {
    background: var(--primary-gradient);
}

.list__item.bg-primary-g::after {
    background: var(--primary-gradient);
}

.green-yellow-g-bg {
    background: var(--green-yellow-gradient);
}

.list__item.bg-green-yellow-g::after {
    background: var(--green-yellow-gradient);
}

.brown-g-bg {
    background: var(--brown-gradient);
}

.list__item.bg-brown-g::after {
    background: var(--brown-gradient);
}

.grey-g-bg {
    background: var(--grey-gradient);
}

.list__item.bg-grey-g::after {
    background: var(--grey-gradient);
}

.blue-g-bg {
    background: var(--blue-gradient);
}

.list__item.bg-blue-g::after {
    background: var(--blue-gradient);
}

/* Preloader */

.preloader {
    background: radial-gradient(#051124, #020713);
    position: fixed;
    inset: 0;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in;
    overflow: hidden;
}

.preloader.fade-out {
    transform: translateY(-100%);
    pointer-events: none;
}

.preloader__container {
    width: 100%;
    height: 100%;
    position: relative;
}

.preloader__sun {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.preloader__orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px dashed rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    animation-name: rotate-orbit-counterclockwise;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: -5s;
}

@keyframes rotate-orbit-counterclockwise {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

.preloader__orbit:nth-child(1) {
    width: 75px;
    height: 75px;
    animation-duration: 2.5s;
}

.preloader__orbit:nth-child(2) {
    width: 103px;
    height: 103px;
    animation-duration: 6s;
}

.preloader__orbit:nth-child(3) {
    width: 135px;
    height: 135px;
    animation-duration: 7.5s;
}

.preloader__orbit:nth-child(4) {
    width: 165px;
    height: 165px;
    animation-duration: 10s;
}

.preloader__orbit:nth-child(5) {
    width: 195px;
    height: 195px;
    animation-duration: 15s;
}

.preloader__orbit:nth-child(6) {
    width: 225px;
    height: 225px;
    animation-duration: 20s;
}

.preloader__orbit:nth-child(7) {
    width: 255px;
    height: 255px;
    animation-duration: 25s;
}

.preloader__orbit:nth-child(8) {
    width: 285px;
    height: 285px;
    animation-duration: 30s;
}

.preloader__planet {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotate-planet-counterclockwise 20s linear infinite;
}

.preloader__orbit:nth-child(2) .preloader__planet,
.preloader__orbit:nth-child(7) .preloader__planet {
    animation-name: rotate-planet-clockwise;
}

@keyframes rotate-planet-counterclockwise {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes rotate-planet-clockwise {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.preloader__moons-orbit {
    width: 28px;
    height: 28px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: rotate-orbit-counterclockwise;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.preloader__moon {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
}


/* Planets */

.earth {
    display: block;
    height: 650px;
    width: 650px;
    border-radius: 100%;
    object-fit: cover;
    animation: glow-earth 3s infinite alternate;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    will-change: transform;
    pointer-events: none;
}

@keyframes glow-earth {
    0% {
        box-shadow: 0 0 30px rgba(30, 144, 255, 0.8);
    }

    50% {
        box-shadow: 0 0 60px rgba(30, 144, 255, 0.6);
    }

    100% {
        box-shadow: 0 0 30px rgba(30, 144, 255, 0.8);
    }
}

.moon-s {
    display: block;
    height: 170px;
    width: 170px;
    border-radius: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    --x: calc(cos(var(--angle)) * 495px);
    --y: calc(sin(var(--angle)) * 195px);
    translate: var(--x) var(--y);
    z-index: calc(var(--z));
    animation: glow-moon-s 4s infinite alternate, revolve 20s linear infinite;
    will-change: all;
}

@property --angle {
    syntax: '<angle>';
    inherits: true;
    initial-value: 0deg;
}

@property --z {
    syntax: '<integer>';
    inherits: true;
    initial-value: 0;
}

@keyframes revolve {
    0% {
        --angle: 0deg;
        --z: 2;
    }

    25% {
        --angle: 90deg;
        --z: 2;
    }

    50% {
        --angle: 180deg;
        --z: 0;
    }

    75% {
        --angle: 270deg;
        --z: 0;
    }

    100% {
        --angle: 360deg;
        --z: 0;
    }
}

@keyframes glow-moon-s {
    0% {
        box-shadow: 0 0 15px rgba(173, 216, 230, 0.8);
    }

    50% {
        box-shadow: 0 0 30px rgba(173, 216, 230, 0.6);
    }

    100% {
        box-shadow: 0 0 15px rgba(173, 216, 230, 0.8);
    }
}

.moon {
    display: block;
    height: 650px;
    width: 650px;
    border-radius: 100%;
    object-fit: cover;
    animation: glow-moon 3s infinite alternate;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    will-change: transform;
    pointer-events: none;
}

@keyframes glow-moon {
    0% {
        box-shadow: 0 0 30px rgba(173, 216, 230, 0.8);
    }

    50% {
        box-shadow: 0 0 60px rgba(173, 216, 230, 0.6);
    }

    100% {
        box-shadow: 0 0 35px rgba(173, 216, 230, 0.8);
    }
}

.mars {
    display: block;
    height: 650px;
    width: 650px;
    border-radius: 100%;
    object-fit: cover;
    animation: glow-mars 3s infinite alternate;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    will-change: transform;
    pointer-events: none;
}

@keyframes glow-mars {
    0% {
        box-shadow: 0 0 30px rgba(255, 69, 0, 0.8);
    }

    50% {
        box-shadow: 0 0 60px rgba(255, 69, 0, 0.6);
    }

    100% {
        box-shadow: 0 0 30px rgba(255, 69, 0, 0.8);
    }
}

/* HEADER */

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: fit-content;
    max-width: 80px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(4, 9, 25, 0.5);
    backdrop-filter: blur(2px);
    transition: all var(--transition-duration);
}

.header__scroll {
    overflow-y: auto;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 32px 24px;
    transition: all var(--transition-duration);
}

.header__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    list-style-type: none;
}

.header__item-link {
    display: flex;
    align-items: center;
    margin-left: 4px;
    position: relative;
    transition: all var(--transition-duration);
    overflow: visible;
}

.header__item-link::before {
    content: "";
    display: block;
    position: absolute;
    inset: -4px;
    z-index: -1;
    filter: blur(10px);
    background: var(--primary-gradient);
    transition: all var(--transition-duration) ease-in-out;
    opacity: 0;
    transform: scale(0.8);
}

.header__item-link:hover:before {
    opacity: 1;
    transform: scale(1);
}

.header__item-link::after {
    content: attr(data-text);
    position: fixed;
    left: 130%;
    color: var(--light-color);
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    backdrop-filter: blur(2px);
    display: block;
    pointer-events: none;
    opacity: 0;
    transition: all var(--transition-duration) ease-in-out;
    background: rgba(4, 9, 25, 0.5);
}

.header__item-link:hover::after {
    left: 100%;
    opacity: 1;
}

.header.open .header__item-link::after {
    display: none;
}

.header__icon {
    display: block;
    flex-shrink: 0;
    transition: all var(--transition-duration) ease-in-out;
}

.header__title {
    display: inline-block;
    width: 0;
    overflow: hidden;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    position: relative;
}

.logo-link {
    display: block;
    width: 32px;
    height: 32px;
    object-fit: contain;
    overflow: hidden;
    transition: all var(--transition-duration) ease-in-out;
    position: relative;
    flex-shrink: 0;
}

.header.open .header__title,
.header.open .logo-link {
    width: 100%;
}


.header.open .header__icon {
    margin-right: 10px;
}

.header.open {
    max-width: 300px;
}

.burger-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    transition: all var(--transition-duration);
    position: absolute;
    right: -47px;
    top: 32px;
    z-index: 10000;
    cursor: pointer;
    background: rgba(4, 9, 25, 0.5);
    border-radius: 100%;
}

.burger-item--left,
.burger-item--right {
    display: block;
    width: 12px;
    height: 2px;
    background-color: var(--light-color);
    position: relative;
    transition: all var(--transition-duration);
}

.burger-item--left::before,
.burger-item--right::before,
.burger-item--left::after,
.burger-item--right::after {
    content: '';
    display: block;
    height: 2px;
    width: 12px;
    background-color: var(--light-color);
    position: absolute;
    transition: all var(--transition-duration);
}

.burger-item--left::before,
.burger-item--right::before {
    top: -7.5px;
}

.burger-item--left::after,
.burger-item--right::after {
    bottom: -7.5px;
}

.header.open .burger-item--left,
.header.open .burger-item--right {
    background-color: transparent;
}

.header.open .burger-item--left::before {
    transform: rotate(45deg) translate(4px, 1px);
}

.header.open .burger-item--right::after {
    transform: rotate(45deg) translate(-4px, -1px);
}

.header.open .burger-item--left::after {
    transform: rotate(-45deg) translate(4px, -1px);
}

.header.open .burger-item--right::before {
    transform: rotate(-45deg) translate(-4px, 1px);
}

/* POPUP */

.popup {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all var(--transition-duration) ease-out;
}

.popup.open {
    visibility: visible;
    opacity: 1;
}

.popup__content {
    max-width: 450px;
    width: 90%;
    padding: 40px;
    background-color: var(--light-color);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    position: relative;
    transition: all var(--transition-duration) ease-out;
}

.popup__close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    background: var(--red-color);
    border-radius: 100%;
    border: 2px solid transparent;
    cursor: pointer;
    position: absolute;
    right: 6px;
    top: 6px;
    transition: all var(--transition-duration) ease-out;
}

.popup__close-btn:hover,
.popup__close-btn:focus {
    background: transparent;
    border-color: var(--red-color);
}

.popup__close-btn:hover .popup__close-span,
.popup__close-btn:focus .popup__close-span {
    background-color: var(--red-color);
}

.popup__close-span {
    display: block;
    height: 2px;
    width: 24px;
    background-color: var(--light-color);
    position: absolute;
    transition: all var(--transition-duration) ease-out;
}

.popup__close-span:nth-child(1) {
    transform: rotate(45deg);
}

.popup__close-span:nth-child(2) {
    transform: rotate(-45deg);
}

.popup__title {
    text-align: center;
}

.popup__language-select {
    width: 70%;
    position: relative;
    font-family: var(--font-family);
    font-size: 18px;
    text-transform: uppercase;
}

.popup__language-current {
    width: 100%;
    position: relative;
    z-index: 1;
}

.popup__language-current::after {
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    border-left: 7.8px solid transparent;
    border-right: 7.8px solid transparent;
    border-top: 9px solid var(--light-color);
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
    transition: all var(--transition-duration) ease-out;
}

.popup__language-list {
    max-height: 0;
    position: absolute;
    left: 0;
    top: 28px;
    width: 100%;
    border-radius: 0 0 32px 32px;
    background-color: var(--light-color);
    overflow: hidden;
    box-shadow: 0 0 18px var(--orange-clear);
    transition: all var(--transition-duration) ease-out;
    will-change: all;
}

.popup__language-btn {
    width: 100%;
    padding: 16px 24px;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: letter-spacing var(--transition-duration) ease-out;
    will-change: all;
}

.popup__language-btn:hover,
.popup__language-btn:focus {
    letter-spacing: 1.5px;
    color: var(--light-color);
    background: linear-gradient(145deg, var(--orange-clear) 0%, var(--red-clear) 100%);
}

.popup__language-select.show .popup__language-list {
    max-height: 300px;
    padding-top: 46px;
}

.popup__language-select.show .popup__language-current::after {
    transform: translateY(-50%) rotate(0.5turn);
}

/* MAIN */

.hero {
    perspective: 1000px;
    overflow: hidden;
}

.hero__container {
    height: 200vh;
    transform-style: preserve-3d;
    transform: rotateX(var(--move-y)) rotateY(var(--move-x));
    will-change: transform;
    transition: transform 1.5s cubic-bezier(.05, .5, 0, 1);
}

.hero__item {
    position: absolute;
    inset: -5vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    will-change: transform;
    overflow: visible;
}

.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}

.hero__title {
    display: block;
    font-size: 128px;
    font-weight: 700;
    color: var(--light-color);
    text-transform: uppercase;
    will-change: transform;
    text-rendering: optimizeLegibility;
}

.hero__sub-title {
    display: block;
    color: var(--light-color);
    will-change: transform;
    text-rendering: optimizeLegibility;
}

.hero__btn-wrap {
    position: absolute;
    bottom: 9.5vh;
}

.hero__planet-wrap {
    height: 100vh;
}

.hero__planet {
    position: relative;
    transition: transform 0.5s ease-out;
    will-change: transform;
    max-width: 100%;
    max-height: 100%;
}

.layer-1 {
    transform: translateZ(-60px) scale(1.2);
}

.layer-2 {
    transform: translateZ(100px) scale(0.9);
}

.layer-3 {
    transform: translateZ(200px) scale(0.75);
}

.layer-4 {
    transform: translateZ(300px) scale(0.7);
}

.layer-5 {
    transform: translateZ(400px) scale(0.6);
    display: flex;
    flex-direction: column;
}

.layer-6 {
    transform: translateZ(500px) scale(0.5);
    pointer-events: none;
}

/* Exploartion */

.hero__exploration-list {
    margin-top: 28px;
    will-change: transform;
    text-rendering: geometricPrecision;
}

.hero__exploration-list>.list__item {
    will-change: transform;
    text-rendering: geometricPrecision;
}

.hero__content-wrap {
    display: flex;
    align-items: center;
    gap: 32px;
    height: auto;
    position: relative;
    left: 50%;
}

.cosmonaut__wrap::after {
    content: url('../img/click-here.svg');
    position: absolute;
    top: 55%;
    left: 80%;
}

.cosmonaut__img {
    display: block;
    height: 540px;
    width: auto;
    cursor: pointer;
    transition: all var(--transition-duration) ease-in-out;
}

.cosmonaut__wrap .comment {
    top: -30%;
    left: 30%;
}

.cosmonaut__wrap:hover .cosmonaut__img,
.cosmonaut__wrap.show .cosmonaut__img {
    filter: drop-shadow(0 0 15px var(--red-color)) drop-shadow(0 0 15px var(--orange-color));
}

/* ----------------LAYERS 2---------------------------- */

.landscape__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    height: 200vh;
    z-index: -1;
}

.landscape__container {
    min-height: 115vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: top;
}

.landscape-item__wrapper {
    position: absolute;
    inset: 0;
    will-change: transform;
}

.landscape-item {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: bottom;
    transition: transform 0.1s ease-out;
    will-change: transform;
}

.landscape-item--1 {
    /* transform: translate3d(0, calc(- var(--scrollTop)), 0); */
}

.landscape-item--2 {
    transform: translate3d(0, calc(var(--scrollTopLandscape) * 0.15), 0);
}

.landscape-item--3 {
    transform: translate3d(0, calc(var(--scrollTopLandscape) * 0.25), 0);
}

.landscape-item--4 {
    transform: translate3d(0, calc(var(--scrollTopLandscape) * 0.85), 0);
}

.landscape__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7.5vh 0;
}

.interior__content {
    justify-content: center;
}

.landscape__title {
    z-index: 1;
}

.landscape__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 16px;
    margin-top: 28px;
}

/* Parametres and Satellites */

.parameters__container {
    overflow: hidden;
}

.parameters__content {
    display: flex;
    align-items: center;
    position: relative;
}

.parameters__planet-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.parameters__planet {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    position: initial;
}

.swiper-container {
    max-width: 100%;
    width: auto;
    position: relative;
}

.swiper {
    max-width: 100%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    z-index: 1;
    padding: 12px 0;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-slide {
    flex-shrink: 0;
    height: auto;
    position: relative;
    transition-property: transform;
    display: block;
    transition: all var(--transition-duration) ease-out;
}

.swiper-slide {
    transform: scale(0.75);
}

.swiper-slide-prev,
.swiper-slide-next {
    transform: scale(0.85);
}

.swiper-slide-active {
    transform: scale(1);
}

.swiper-pagination {
    display: flex;
    align-items: center;
    gap: 13px;
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translate(-50%, 10%);
}

.swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    cursor: pointer;
    background-color: var(--light-color);
    transition: all 0.2s ease-out;
}

.swiper-pagination-bullet-active {
    width: 28px;
    background: var(--blue-gradient);
}

.swiper-button-prev,
.swiper-button-next {
    width: 64px;
    height: 64px;
    padding: 20px;
    background: var(--blue-gradient);
    box-shadow: 0 0 18px var(--mint-clear);
    position: absolute;
    top: 50%;
    z-index: 10;
}

.swiper-button-prev {
    left: -5%;
    transform: translateY(-50%) rotate(0.5turn);
}

.swiper-button-next {
    right: -5%;
    transform: translateY(-50%);
}

.swiper-button-prev::before,
.swiper-button-next::before {
    border: 6px solid var(--mint-color);
    box-shadow: 0 0 18px var(--mint-clear);

}

.card {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.1s ease-out;
    cursor: pointer;
    will-change: transform;
    overflow: hidden;
}

.card-inner {
    height: 400px;
    width: 300px;
    margin: 12px;
    transform-style: preserve-3d;
    transition: all var(--transition-duration) ease-out;
    will-change: transform;
    border-radius: 16px;
}

.card-front,
.card-back {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 24px 16px;
    backface-visibility: hidden;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    will-change: transform;
}

.parameters .card-front {
    background: linear-gradient(145deg, #05091A, #062a4e);
}

.parameters .card-back {
    background: linear-gradient(145deg, #062a4e, #05091A);
    transform: rotateY(180deg);
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card:hover .card-inner {
    box-shadow: 0 0 6px 9px rgba(30, 144, 255, 0.8);
}

.glow {
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    background: radial-gradient(circle at center, var(--mint-color) 0%, transparent 50%);
    opacity: 0;
    mix-blend-mode: hard-light;
    pointer-events: none;
    transition: transform var(--transition-duration) ease-out;
    z-index: 1;
}

.flip-btn {
    padding: 8px !important;
    background: var(--blue-gradient);
    box-shadow: 0 0 10px var(--mint-clear);
    position: absolute;
    right: 16px;
    bottom: 16px;
}

.flip-btn::before {
    border-width: 3px;
    min-width: calc(100% + 6px);
    min-height: calc(100% + 6px);
    border-color: var(--mint-color);
    box-shadow: 0 0 18px var(--mint-clear);
}

.card__img-wrapper {
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__img {
    width: 100%;
    height: 116px;
    object-fit: contain;
}

.card__title {
    text-align: center;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
}

.card__value {
    display: block;
    text-align: center;
}

.number {
    font-size: 72px;
    font-weight: bold;
    line-height: 1;
}

.unit {
    font-size: 36px;
    margin-left: 4px;
    margin-right: 12px;
}

.card__text {
    color: var(--light-color);
    margin-top: 12px;
}



/* Satellites */

.satellites__title {
    color: var(--dark-color);
    padding-bottom: 24px;
}

.satellites .card-front {
    background: linear-gradient(145deg, #05091A, #062a4e);
}

.satellites .card-back {
    background: linear-gradient(145deg, #062a4e, #05091A);
    transform: rotateY(180deg);
}

.satellites .swiper-pagination-bullet-active {
    background: var(--grey-gradient);
}

.satellites .flip-btn {
    background: var(--grey-gradient);
    box-shadow: 0 0 10px var(--grey-clear);
}

.satellites .flip-btn::before {
    border-color: var(--grey-color);
    box-shadow: 0 0 18px var(--grey-clear);
}

.satellites .card:hover .card-inner {
    box-shadow: 0 0 6px 9px var(--grey-clear);
}

.satellites .swiper-button-prev,
.satellites .swiper-button-next {
    background: var(--grey-gradient);
    box-shadow: 0 0 18px var(--grey-clear);
}

.satellites .swiper-button-prev::before,
.satellites .swiper-button-next::before {
    border: 6px solid var(--grey-color);
    box-shadow: 0 0 18px var(--grey-clear);
}

/* Habitability */

.habitability__container {
    height: 315vh;
    position: relative;
    overflow: hidden;
}

.habitability__wrapper {
    min-height: 115vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-position: bottom;
}

.habitability__wrapper:nth-last-of-type(2) {
    justify-content: flex-start;
}

.habitability__clouds {
    height: 60vh;
    width: 100%;
    position: absolute;
    top: 54vh;
}

.cloud {
    position: absolute;
    inset: 0;
    background-size: cover;
    transition: transform 0.1s ease-out;
    background-position: center;
}

.cloud--left {
    transform: translate3d(calc(var(--scrollTopCloud) * -0.7), 0, 0);
}

.cloud--right {
    transform: translate3d(calc(var(--scrollTopCloud) * 0.7), 0, 0);
}

.habitability__content--1 {
    display: grid;
    grid: repeat(2, auto) / repeat(2, auto);
    align-items: stretch;
    gap: 48px;
}

.habitability__info {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.habitability__content--1 .habitability__info {
    align-self: center;
}

.habitability__text {
    color: white;
    border-radius: 16px;
    padding: 16px;
}

.habitability__content--1 .habitability__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    gap: 10px 16px;
    grid-column: span 2;
}

.habitability__img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.habitability__hawk-wrapper::after {
    display: block;
    content: '';
    width: 6%;
    height: 0;
    background-image: url('../img/mouse.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 44.5%;
    left: 17.5%;
    transform: scale(0.6);
    transition: all var(--transition-duration);
}

.habitability__img-wrapper::before {
    content: url('../img/click-here-black.svg');
    position: absolute;
    top: 40%;
    right: 5%;
}

.habitability__hawk-wrapper:hover::after,
.habitability__hawk-wrapper.show::after {
    height: 10.5%;
    transform: scale(1);
    filter: drop-shadow(0 0 5px var(--brown-color)) drop-shadow(0 0 5px var(--light-brown-color));
}

.habitability__img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    transition: all var(--transition-duration) ease-in-out;
}

.habitability__hawk-wrapper .comment {
    width: 220px;
    background-color: transparent;
    color: var(--brown-color);
    border-color: var(--brown-color);
    border-radius: 16px 16px 0 16px;
}

.habitability__hawk-wrapper:hover .habitability__img,
.habitability__hawk-wrapper.show .habitability__img {
    filter: drop-shadow(0 0 15px var(--brown-color)) drop-shadow(0 0 15px var(--light-brown-color));
}

.habitability__content--2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    padding-top: 36px;
}

.habitability__content--2 .habitability__info {
    max-width: 32.5%;
}

.habitability__content--2 .habitability__list {
    max-width: 32.5%;
}

.habitability__deer-wrapper {
    width: auto;
    height: 55%;
    position: absolute;
    left: 50.5%;
    bottom: 21.2%;
    transform: translateX(-50%);
}

.habitability__deer-wrapper .comment {
    width: 80%;
    background-color: transparent;
    color: var(--dark-green-color);
    border-color: var(--dark-green-color);
    top: -35%;
    left: 10%;
}

.habitability__deer-wrapper:hover .habitability__img,
.habitability__deer-wrapper.show .habitability__img {
    filter: drop-shadow(0 0 15px var(--dark-green-color)) drop-shadow(0 0 15px var(--grey-color));
}


/* FOOTER */

.footer {
    background-size: cover;
    background-position: top;
}

.footer__container {
    height: auto !important;
    align-items: center;
    backdrop-filter: blur(2px);
    background: linear-gradient(180deg, transparent 0%, rgba(4, 9, 25, 0.8) 65%);
}

.footer__list {
    list-style-type: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 48px;
}

.footer__item-link svg {
    display: block;
}

.footer__item-link {
    position: relative;
}

.footer__item-link::before {
    content: "";
    display: block;
    position: absolute;
    inset: -4px;
    z-index: -1;
    filter: blur(10px);
    background: var(--primary-gradient);
    transition: all var(--transition-duration) ease-in-out;
    opacity: 0;
    transform: scale(0.8);
}

.footer__item-link:hover:before {
    opacity: 1;
    transform: scale(1);
}

.copyright {
    width: 100%;
    padding: 18px;
    text-align: center;
    color: var(--light-color);
    background-color: rgba(4, 9, 25, 0.7);
}

/********************************** MARS ****************************************/

/* Hero section */

.mariner__wrap::after {
    content: url('../img/click-here.svg');
    position: absolute;
    top: 65%;
    left: 80%;
}

.mariner__img {
    display: block;
    height: 500px;
    width: auto;
    cursor: pointer;
    transition: all var(--transition-duration) ease-in-out;
}

.mariner__wrap .comment {
    top: -45%;
    left: 10%;
}

.mariner__wrap:hover .mariner__img,
.mariner__wrap.show .mariner__img {
    filter: drop-shadow(0 0 15px var(--red-color)) drop-shadow(0 0 15px var(--orange-color));
}

/* Parameters */

.mars-site .parameters .swiper-pagination-bullet-active {
    background: var(--primary-gradient);
}

.mars-site .parameters .flip-btn {
    background: var(--primary-gradient);
    box-shadow: 0 0 10px var(--orange-clear);
}

.mars-site .parameters .flip-btn::before {
    border-color: var(--orange-color);
    box-shadow: 0 0 18px var(--orange-clear);
}

.mars-site .parameters .card:hover .card-inner {
    box-shadow: 0 0 6px 9px var(--orange-clear);
}

.mars-site .parameters .swiper-button-prev,
.mars-site .parameters .swiper-button-next {
    background: var(--primary-gradient);
    box-shadow: 0 0 18px var(--orange-clear);
}

.mars-site .parameters .swiper-button-prev::before,
.mars-site .parameters .swiper-button-next::before {
    border: 6px solid var(--orange-color);
    box-shadow: 0 0 18px var(--orange-clear);
}

/* Habitability */

.mars-site .habitability__img-wrapper::before {
    content: url('../img/click-here.svg');
    position: absolute;
    top: 30%;
    right: 0;
}

.habitability__rover-wrapper {
    width: auto;
    height: 35%;
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translateX(-50%);
}

.habitability__rover-wrapper .comment {
    width: 80%;
    top: -55.5%;
    left: 10%;
}

.habitability__rover-wrapper:hover .habitability__img,
.habitability__rover-wrapper.show .habitability__img {
    filter: drop-shadow(0 0 15px var(--brown-color)) drop-shadow(0 0 15px var(--light-brown-color));
}


.mars-site .habitability__ingenuity-wrapper::before {
    top: 55%;
    right: 5%;
}

.habitability__ingenuity-wrapper .comment {
    width: 100%;
}

.habitability__ingenuity-wrapper:hover .habitability__img,
.habitability__ingenuity-wrapper.show .habitability__img {
    filter: drop-shadow(0 0 15px var(--yellow-color)) drop-shadow(0 0 15px var(--green-color));
}

/********************* MOON *****************************/

/* Hero section */

.moon-site .cosmonaut__wrap::after {
    top: 70%;
    left: 70%;
}

.moon-site .cosmonaut__img {
    height: 275px;
}

.moon-site .cosmonaut__wrap .comment {
    width: 80%;
    top: -70%;
    left: 10%;
}

/* Parameters section */

.moon-site .parameters .swiper-pagination-bullet-active {
    background: var(--green-yellow-gradient);
}

.moon-site .parameters .flip-btn {
    background: var(--green-yellow-gradient);
    box-shadow: 0 0 10px var(--green-clear);
}

.moon-site .parameters .flip-btn::before {
    border-color: var(--green-color);
    box-shadow: 0 0 18px var(--green-clear);
}

.moon-site .parameters .card:hover .card-inner {
    box-shadow: 0 0 6px 9px var(--green-clear);
}

.moon-site .parameters .swiper-button-prev,
.moon-site .parameters .swiper-button-next {
    background: var(--green-yellow-gradient);
    box-shadow: 0 0 18px var(--green-clear);
}

.moon-site .parameters .swiper-button-prev::before,
.moon-site .parameters .swiper-button-next::before {
    border: 6px solid var(--green-color);
    box-shadow: 0 0 18px var(--green-clear);
}

/* Habitability */

.moon-site .habitability__img-wrapper::before {
    content: url('../img/click-here.svg');
    position: absolute;
    top: 30%;
    right: 5%;
}

.habitability__apollo-wrapper .comment {
    width: 220px;
    border-radius: 16px 0 16px 16px;
    bottom: 0;
    top: initial;
}

.habitability__apollo-wrapper:hover .habitability__img,
.habitability__apollo-wrapper.show .habitability__img {
    filter: drop-shadow(0 0 15px var(--red-color)) drop-shadow(0 0 15px var(--orange-color));
}

.habitability__lunokhod-wrapper {
    width: auto;
    height: 35%;
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translateX(-50%);
}

.moon-site .habitability__lunokhod-wrapper::before {
    content: url('../img/click-here-black--right.svg');
    top: initial;
    left: 0;
    bottom: 10%;
}

.habitability__lunokhod-wrapper .comment {
    width: 80%;
    top: -55%;
    left: 10%;
}

.habitability__lunokhod-wrapper:hover .habitability__img,
.habitability__lunokhod-wrapper.show .habitability__img {
    filter: drop-shadow(0 0 15px var(--violet-color)) drop-shadow(0 0 15px var(--mint-color));
}

@media (max-width: 1500px) {

    .container {
        height: 226vh;
    }

    .landscape__container {
        min-height: 140vh;
    }

    .content {
        max-width: 100%;
        padding: 0 60px;
    }

    .header__scroll {
        padding: 28px 14px;
    }

    .list__item {
        max-width: 45vw;
        padding: 10px 10px 10px 38px;
    }

    .earth,
    .moon,
    .mars {
        height: 600px;
        width: 600px;
    }

    .moon-s {
        height: 157px;
        width: 157px;
    }

    .hero__title {
        font-size: 114px;
    }

    .h1-title {
        font-size: 54px;
    }

    .h4-title {
        font-size: 28px;
    }

    .hero__content-wrap {
        gap: 16px;
        left: 5%;
    }

    .parameters__content,
    .satellites__content {
        width: 90vw;
    }

    .swiper-button-next {
        right: -4%;
    }

    .swiper-button-prev {
        left: -4%;
    }

    .parameters__planet {
        width: auto;
        height: auto;
    }

    .satellites__title {
        padding-bottom: 240px;
    }

    .habitability__container {
        height: 385vh;
    }

    .habitability__wrapper {
        min-height: 150vh;
    }

    .habitability__content {
        height: 115vh;
    }

    .habitability__clouds {
        top: 50vh;
    }

    .habitability__content--1 {
        gap: 24px;
    }
}

@media (max-width: 1151px) {

    .container {
        height: 285vh;
    }

    .btn {
        padding: 16px 32px;
    }

    .landscape__container {
        min-height: 177vh;
    }

    .content {
        height: 150vh;
        max-width: 100%;
        padding: 0 52px;
    }

    .list__item {
        max-width: initial;
        width: auto;
    }

    .header__scroll {
        padding: 28px 10px;
        gap: 48px;
    }

    .earth,
    .moon,
    .mars {
        height: 550px;
        width: 550px;
    }

    .moon-s {
        height: 140px;
        width: 140px;
    }

    .hero__title {
        font-size: 100px;
    }

    .hero__btn-wrap {
        bottom: 12vh;
    }

    .hero__planet-wrap {
        height: 120vh;
    }

    .hero__container {
        height: 220vh;
    }

    .hero__content:last-child {

        height: 120vh;
    }

    .hero__content-wrap {
        width: calc(100% - 10vh);
        padding: 0 52px;
        position: initial;
    }

    .hero__exploration-list {
        margin-top: 14px;
    }

    .comment__wrap {
        height: auto;
        width: 100%;
    }

    .exploration__info .h4-title {
        text-align: center;
    }

    .parameters__content,
    .satellites__content {
        width: 100%;
    }

    .swiper-button-next {
        display: none;
    }

    .swiper-button-prev {
        display: none;
    }

    .parameters__planet {
        width: 100%;
        height: auto;
        max-width: calc(100vw - 52px * 2);
        max-height: calc(100vw - 52px * 2);
    }

    .satellites__title {
        padding-bottom: 90px;
    }

    .habitability__container {
        height: 485vh;
    }

    .habitability__wrapper {
        min-height: 200vh;
    }

    .habitability__content {
        height: 180vh;
    }

    .habitability__content--1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .habitability__content--1 .habitability__list {
        grid-template-columns: repeat(1, 1fr);
    }

    .habitability .habitability__img-wrapper {
        max-width: 80%;
    }

    .habitability__content--2 {
        flex-direction: column;
    }

    .habitability__content--2 .habitability__info,
    .habitability__content--2 .habitability__list {
        max-width: 100%;
    }

    .habitability__deer-wrapper {
        width: 41.6%;
        max-width: 380px;
        height: auto;
        bottom: 25%;
    }

    .habitability__list,
    .habitability__content--1 .habitability__list {
        gap: 8px 12px;
    }

}

@media (max-width: 767px) {

    .container {
        height: 370vh;
    }

    .content {
        height: 200vh;
        max-width: 100%;
        padding: 0 16px;
    }

    .h1-title {
        font-size: 28px;
    }

    .h5-title {
        font-size: 20px;
    }

    .header {
        max-width: 0;
    }

    .header.open {
        max-width: 300px;
    }

    .header__scroll {
        padding: 28px 0;
        gap: 40px;
    }

    .header.open .header__scroll {
        padding: 28px 10px;
    }

    .header__list {
        gap: 28px;
    }

    .header__item-link,
    .logo-link {
        width: 0;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }

    .header.open .header__title,
    .header.open .logo-link,
    .header.open .header__item-link {
        width: 100%;
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
    }

    .hero__container {
        height: 350vh;
    }

    .hero__title {
        font-size: 80px;
    }

    .hero__content-wrap {
        flex-direction: column;
        padding: 0 16px;
        gap: 12.5vh;
    }

    .hero__planet-wrap {
        height: 250vh;
    }

    .hero__content:last-child {
        height: 250vh;
    }

    .hero .comment__wrap .comment {
        top: -80px;
    }

    .earth,
    .moon,
    .mars {
        height: auto;
        width: 100vw;
        max-width: 550px;
        max-height: 550px;
    }

    .moon-s {
        height: 123px;
        width: 123px;
    }

    .landscape__container {
        min-height: 230vh;
    }

    .landscape__wrapper {
        height: 400vh;
    }

    .landscape__list {
        grid-template-columns: repeat(1, 1fr);
    }

    .interior__content {
        justify-content: flex-end;
    }

    .parameters__planet {
        width: 150vw;
        max-width: initial;
        max-height: initial;
        position: absolute;
    }

    .habitability__container {
        height: 715vh;
    }

    .habitability__wrapper {
        min-height: 315vh;
    }

    .habitability__content {
        height: 280vh;
    }

    .habitability__clouds {
        height: 40vh;
        top: 45vh;
    }

    .habitability__text {
        padding: 10px;
    }

    .habitability .habitability__img-wrapper {
        width: 100%;
        max-width: 100%;
    }

    .habitability__wrapper:last-child .habitability__img-wrapper {
        bottom: 30%;
    }

    .habitability__wrapper:last-child .habitability__lunokhod-wrapper,
    .habitability__wrapper:last-child .habitability__rover-wrapper {
        bottom: 33%;
    }

    .habitability__wrapper:last-child .comment {
        top: -100px;
    }

    .moon-site .habitability__wrapper:last-child .comment {
        top: -135px;
    }

    .comment {
        width: calc(100% - 32px) !important;
        padding: 10px;
        font-size: 12px;
        left: 16px !important;
    }

    .habitability__wrapper:nth-last-of-type(2) .habitability__img-wrapper {
        padding-top: 90px;
    }

    .moon-site .habitability__wrapper:nth-last-of-type(2) .habitability__img-wrapper {
        padding-bottom: 110px;
        padding-top: 0;
    }

    .moon-site .habitability__wrapper:nth-last-of-type(2) .habitability__img-wrapper::before {
        top: 10%;
    }

    .habitability__hawk-wrapper::after {
        top: 58.5%;
        left: 20%;
    }

    .habitability__hawk-wrapper::before {
        top: 50%;
        right: 0;
    }

    .list__item {
        padding: 10px 10px 10px 28px;
    }

    .list__item::after,
    .list__item::before {
        width: 38px;
        height: 38px;
        border-radius: 12px 12px 0 12px;
    }

    .list__item::before {
        font-size: 20px;
    }

    .popup__language-select {
        width: 90%;
    }

    .moon-site .cosmonaut__img {
        width: 100%;
        height: auto;
    }

    .swiper-pagination {
        gap: 9px;
    }

}

@media (max-width: 1151px) and (orientation: landscape) {

    .container {
        height: 285vw;
    }

    .landscape__container {
        min-height: 177vw;
    }

    .landscape__wrapper {
        height: 200vw;
    }

    .content {
        height: 150vw;
    }

    .hero__btn-wrap {
        bottom: 6vh;
    }

    .hero__planet-wrap {
        height: 200vh;
    }

    .hero__container {
        height: 300vh;
    }

    .hero__content {
        height: 100vh;
    }

    .hero__content:last-child {
        height: 200vh;
    }

    .hero .comment__wrap {
        flex-shrink: 0;
        width: auto;
    }

    .parameters__planet {
        max-width: calc(100vw - 52px * 2);
        max-height: calc(100vw - 52px * 2);
        position: absolute;
    }

    .habitability__container {
        height: 485vw;
    }

    .habitability__wrapper {
        min-height: 200vw;
    }

    .habitability__content {
        height: 180vw;
    }

}

@media (max-width: 767px) and (orientation: landscape) {

    .container {
        height: 370vw;
    }

    .content {
        height: 200vw;
    }

    .hero__planet-wrap {
        height: 400vh;
    }

    .hero__container {
        height: 500vh;
    }

    .hero__content {
        height: 100vh;
    }

    .hero__content:last-child {
        height: 400vh;
    }

    .hero__content-wrap {
        gap: 12.5vh;
    }

    .earth,
    .moon,
    .mars {
        width: 100vh;
    }

    .landscape__container {
        min-height: 230vw;
    }

    .landscape__wrapper {
        height: 400vw;
    }

    .parameters__planet {
        width: 100%;
    }

    .card-inner {
        height: 350px;
        width: 262px;
    }

    .card-front,
    .card-back {
        gap: 16px;
        padding: 18px 12px;
    }

    .card__text {
        font-size: 13px;
    }

    .habitability__container {
        height: 685vw;
    }

    .habitability__wrapper {
        min-height: 310vw;
    }

    .habitability__content {
        height: 280vw;
    }

    .habitability__clouds {
        height: 30vw;
        top: 35vw;
    }

    .habitability .habitability__wrapper:last-child .habitability__img-wrapper {
        max-width: 60%;
        bottom: 27.5%;
    }

}
